*{
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column; 
  background-color: #e6e1e1;
  margin: 0;
  font-size: 20px;
  
}
#menu {
  background-color: #e6e1e1;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid black;
}
.cont {
  display: flex; 
  justify-content: center;
  margin-top: 10px;
}
.game {
  width: 40%;
  padding: 10px;
  font-size: 20px;
  color: white;
  text-align: center;
  background-color: #4e87c9;
  margin: auto;
}
.in {
  text-align: center;
  margin-top: 10px;
  width: 40%;
  margin: auto;
  background-color: #4e87c9;
  color: #e6e1e1;
  font-size: 20px;
}
h2{
  text-align: center;
  margin-bottom: 5px;
  color: white;
  font-size: 36px;
}

.p {
  text-align: center;
  color: white;
  margin-bottom: 5px;
}
.imga {
  width: 200px;
  height: auto;
}
#menu{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
a{
  text-decoration: none;
  color: #4e87c9;
  font-size: 20px;
  text-transform: uppercase; 
}